@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

/* reset */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 10px; /* 1rem = 10px */
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* project variables */
:root {
  /* fonts */
  --first-font: "Barlow", sans-serif;
  --second-font: "Fraunces", serif;
  --size-font: 1.8rem;
  --semi-font: 600;
  --bold-font: 700;
  --black-font: 900;

  /* colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text */
  --dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --header-blue: hsl(200, 100%, 62%);
  --header-blue-hover: hsl(200, 100%, 70%);
  --footer-green: hsl(167, 44%, 70%);
}

/* project settings */
body {
  font-family: var(--first-font);
  font-size: var(--size-font);
  font-weight: var(--semi-font);
  background-color: var(--white);
  color: var(--dark-grayish-blue);
  margin: 0;
}

/*=== LAYOUT START ===*/

.section {
  width: 100vw;
  height: auto;
  /* border: 1px solid blue; */
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 2.4rem;
  margin: 0 auto;
  border: 1px solid red;
}

/* HEADER START */
.header {
  height: 8.8rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-blue);
  z-index: 15;
}

/* HEADER > LOGO */

.header .container .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-indent: -999rem;
}

.header .container .menu-button {
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1rem 0;
}

.header .container .menu-button .bar1,
.header .container .menu-button .bar2,
.header .container .menu-button .bar3 {
  width: 2.4rem;
  background-color: var(--white);
  height: 0.2rem;
  display: flex;
}

/* Header Nav */
.header .container .main-nav {
  /* border: 1px solid blue; */
  display: block;
  width: calc(100% - 4.8rem);
  height: auto;
  position: absolute;
  top: 10.8rem;
  background-color: aliceblue;
  padding: 2.4rem 0;
  text-align: center;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.3s ease-in-out;
  background-color: var(--white);
  z-index: 10;
}

.header .container .main-nav.-active {
  /* border: 1px solid blue; */
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.header .container .main-nav .nav-edge {
  position: absolute;
  top: -2.4rem;
  right: 0;
  width: 0;
  height: 0;
  border-top: 2.4rem solid transparent;
  border-bottom: 2.4rem solid transparent;
  border-right: 2.4rem solid var(--white);
}

.header .container .main-nav .list {
  /* border: 1px solid lightcoral; */
  width: 100%;
}

.header .container .main-nav .list .item {
  padding: 1.6rem 0;
}

.header .container .main-nav .list .item .link {
  color: var(--dark-grayish-blue);
  font-weight: var(--bold-font);
}

.header .container .main-nav .list .item .link.-cta-button {
  width: 14rem;
  height: 5.6rem;
  font-family: var(--second-font);
  font-weight: var(--black-font);
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  background-color: var(--yellow);
  border-radius: 2.8rem;
}

/* BANNER START */
.banner {
  height: 100vh;
  /* background-color: blue; */
}

.banner .container {
  width: 100%;
  max-width: 76.8rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../assets/images/mobile/image-header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.banner .container .title-banner {
  width: 100%;
  font-family: var(--second-font);
  font-weight: var(--black-font);
  font-size: 3.6rem;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  margin: 10rem 0 6rem;
  letter-spacing: 1rem;
}

.banner .container .down-arrow {
}

/* Company Section Start */
.company {
  background-color: var(--white);
}

.company .container {
  width: 100%;
  max-width: 75rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  padding: 0;
  /* grid-template-rows: (2, 1fr); */
}

.company .container .card {
}

.company .container .card .card-image {
}

.company .container .card .card-content {
  width: 100%;
  height: auto;
  padding: 7rem 2.4rem;
  text-align: center;
}

.company .container .card .card-content .title,
.company .container .card .card-content .more .link {
  font-family: var(--second-font);
  font-weight: var(--black-font);
  color: var(--very-dark-desaturated-blue);
}

.company .container .card .card-content .title {
  font-size: 3.6rem;
  margin-bottom: 3rem;
}
.company .container .card .card-content .description {
  line-height: 1.5;
  margin-bottom: 3rem;
}

.company .container .card .card-content .more::after {
  display: block;
  content: "";
  width: 15rem;
  height: 1rem;
  background-color: var(--yellow);
  border-radius: 0.5rem;
  opacity: 0.2;
  margin: -0.8rem auto 0;
}

.company .container .card .card-content .more.-variant::after {
  background-color: var(--soft-red);
}

.company .container .card .card-content .more .link {
  font-size: inherit;
  background-color: transparent;
  text-transform: uppercase;
}

/* Services Section Start */

.services {
  /* background-color: greenyellow; */
}

.services .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  padding: 0;
}

.services .container .card {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 1px solid red; */
  color: var(--dark-desaturated-cyan);
  background-image: url("../assets/images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 0 2rem 6rem;
}

.services .container .card.-variant {
  background-image: url("../assets/images/mobile/image-photography.jpg");
  color: var(--dark-blue);
}

.services .container .card .title {
  font-family: var(--second-font);
  color: var(--black-font);
  font-size: 3rem;
  margin-bottom: 3rem;
}

.services .container .card .description {
  width: 100%;
  max-width: 37.5rem;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 auto;
}

.services .container .card.-variant {
}
